// Default Variables
//
// Include to use as-is, or copy/change
// to your own theme files.

// Media Query Breakpoints
//
// Use ems or px - up to you
$media--xl: 1440px;
$media--l:  1079px;
$media--m:  864px;
$media--s:  634px;
$media--xs: 425px;

// Text Sizes
//
// Follows a scale of some sort
$t-4xl:    3em;
$t-3xl:    2em;
$t-2xl:    1.75em;
$t-xl:     1.5em;
$t-l:      1.33em;
$t-m:      1.1667em;
$t-n:      1em;
$t-s:      0.9176em;
$t-xs:     0.8333em;
$t-2xs:    0.75em;
$t-3xs:    0.66em;
$t-4xs:    0.5833em;
$t-5xs:    0.5em;
