/* makin' a circle.. */
%circle {    
    -moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
    /* set your own damn widths, you crazy kids */
    /* protip: if the height != the width, you'll end up with an elipse. */
} 
.circle {
	@extend %circle;
} 
